.header {
  width: 100%;
  padding: 1.5rem;
  background: linear-gradient(270deg, #1e9b41, #a5d22d, #2d4196, #c30a28);
  background-size: 1000% 1000%;
  animation: rainbow 75s ease infinite;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(238, 238, 238);
}

@keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
