.animalCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: blanchedalmond;
  max-width: 400px;
  border-radius: 5px;
  box-shadow: 0 0 5px #333;
  padding: 1rem;
}

.animalCard img {
  max-height: 200px;
}
